*{
    margin: 0;
    padding: 0%;
}

body{
    color: aliceblue;
    background-color: maroon;
}

#welcomescreen{
    animation-name: welcome;
    animation-duration: 4s;
    background-color: bisque;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

#wcs > img{
    width: 40vw;
    height: 0;
    animation-name: welcome;
    animation-duration: 4s;
}

#wcs{
    height: 0vh;
    width: 99.31vw;
    animation-name: welcome;
    animation-duration: 4s;
    display: flex;
    justify-content: center;
}

#welcomescreen2{
    animation-name: welcome2;
    animation-duration: 4s;
    background-color: bisque;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

#wcs2{
    height: 0vh;
    width: 99.31vw;
    animation-name: welcome2;
    animation-duration: 4s;
    display: flex;
    justify-content: center;
}

@keyframes welcome{
    0%  {height: 100vh; }
    75% {height: 90vh; }
    90% {height: 6vh; }
    100% {height: 0; }
}

@keyframes welcome2{
    0%  {height: 0vh; top: 0vw; bottom: 0;}
    90% {height: 8.3vh; top: 0vw; bottom: 0;}
    100% {height: 0; top: 0; bottom: 0vw;}
}

#text{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    background-image:url(istockphoto-1287029258-170667a.jpg);
    background-repeat: no-repeat;
    background-position:top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100vw 100vh;
    gap: 0vw 2vh;
}

h1{
    font-size: 3vw;
}

h2{
    font-size: 1.5vw;
    padding-bottom: 30px;
}

th{
    font-style: italic;
    padding: 1vh 1vw;
}

#nadpis-a-podnadpis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#hl-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: auto;
    font-size: 2vw;
    background-color: maroon;
    padding: 2vh 10vw;
}

#hl-text > p{
    padding: 1vh 1vw;
}

#Ceník{
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:center;
    background-color: bisque;
    height: 60vh;
    width: 90vw;
    gap: 0 5vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 7vh;
}

#nc{
    height: 2vw;
    width: 60vw;
    padding: 7vh 15vw;
    font-style: italic;
}

#Káva{
    width: auto;
    height: auto;

}

#Horké-Nápoje{
    width: auto;
    height: auto;
}

#Dezerty{
    width: auto;
    height: auto;
}

#MUPC{
    width: auto;
    height: auto;
}

#MUPS{
    width: auto;
    height: auto;
}

#DS{
    width: auto;
    height: auto;
}

iframe{
    height: 40vh;
    width: 90vw;
    margin: 0;
}

.Kontakt{
    margin-top: 10vh;
    margin-left: 0;
    width: 99.38vw;
    height: 30vh;
    background-color: bisque;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1.5vh;
}

#Kontakty{
    height: 25vh;
    width: 80vw;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

.Adresa{
    height:12vh;
    width: 8vw;
    font-size: 1vw;
}

.Adresa > h3{
    font-size: 1.5vw;
}

.OtDob{
    height:12vh;
    width: 14vw;
    font-size: 1vw;
}

.line{
    width: 60vw;
    height: 0.2vh;
    background-color: black;
}

.OtDob > h3{
    font-size: 1.5vw;
}

#navbar{
    background-color: bisque;
    display: flex;
    justify-content:space-between;
    padding: 1vh 2vw;
}

.ikona{
    height: 6vh;
    width: 4vw;
}

.logo{
    margin-top: 0.2vh;
    height:8vh;
    width: 4vw;
    background-color:none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ikona2{
    height: 12vh;
    width: 8vw;
}

.logo2{
    height:16vh;
    width: 8vw;
    background-color:none;
    display: flex;
    align-items: center;
    justify-content: center;

}

#menu-icon{
    border-radius: 10px;
    border-style: dashed;
    border-color: black;
    height: 4vh;
    width: 4vw;
    margin:0.4vw;
    padding:0.4vw;
    transition: width 2s;
    display: flex;
    justify-content:center;
    align-items: center;
    
}

#menu-box{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#menu-icon:hover{
    border-radius: 10px;
    border-style: dashed;
    border-color: black;
    height: 4vh;
    width: 6vw;
    margin:0.4vw;
    padding:0.4vw;
}
.mnicbar{
    width: 16vw;
    height: 0.25vw;
    background-color: black;
    gap: 0;
}

.mnicbar2{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 0;
    width: 16vw;
    height:2.5vh;
}

.mnicbar3{
    background-color:bisque;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 0vw;
    height: 2.5vh;
    padding: 0;
    margin: 0;
    transition: width 2s;
    color: transparent;
}
.mnicbar3:hover{
    width: 8vw;
    border-radius: 1vw;
}

.awabat{
    border: none;
    padding-top: 0.3vh;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.25vw;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
    font-weight: 550;
    opacity: 0;
    transition-duration:0.5s;
}
.awabat:hover{
    color: black;
    opacity: 1;
}

.cen{
    font-size: 3vw;
}



